.container {
    display: flex;
    width: 1200px;
    margin: 0 auto;
}

.header .top_banner {
    border-bottom: 1px solid #98bf64;
    line-height: 40px;
}

.header .top_banner {
    margin: 0 0 0 auto;
}

.header .top_banner a {
    margin: 0 0 0 10px;
    padding: 0 10px;
}

.header .container {
    position: relative
}

.header .question {
    position: absolute;
    top: 50%;
    left: 30%;
    font-weight: bolder
}

.header .anser {
    margin: 0 0 0 auto;
}

.header .anser>ul {
    position: absolute;
    display: flex;
    display: none;
    gap: 2px;
    top: 50%;
    left: 32%;
    font-weight: bolder
}