.container {
    display: flex;
    width: 1200px;
    margin: 0 auto;
}

/* container 순서는 위 */

.header .top_banner {
    border-bottom: 1px solid #f2f2f2;
    /* 직선은 solid, 실선? dotted, 점선 dashed */
    line-height: 40px;
}

.header .top_banner span {
    margin: 0 0 0 auto;
}

.header .top_banner a {
    margin: 0 0 0 10px;
    padding: 0 10px;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    /* 헤더 안에 탑 배너가 있을 땐 한칸 띄워줘야 함
    margin으로 옆 공간을 띄운 이유는
    display: flex로 세로 정렬이었던 박스 공간을 가로 정렬로 바꾸어서
    이미 우측이 땡겨지고 있었기 때문에 text-align :right로 우측으로 땡기는게 안됨
    border로 양옆 아이콘에 박스 선을 줬음 */
}

.header .gnb {
    margin: 0 0 0 auto;
}

.header .gnb>ul {
    /* 다단 메뉴는 ul이 후손에 또 하나 더 있을 수 있기 때문에 자식인 ul을 찾기 위해 >을 쓴다 */
    display: flex;
    /* 익스플로러 10까진 먹음 */
    gap: 30px;
    /* gap은 익스플로러에서 안먹음. 마진이나 패딩으로 준다 검색하면 세개가...벌어지는...방...법...? */
    line-height: 90px;
    font-size: 19px;
    font-weight: 500;
}

/* 메인비주얼 */
.main_visual {
    position: relative;
    /* 기준점으로 잡아줌 */
    height: 600px;
    /* 높이를 안주면 떠올라서 사라진다 */
    background: url(../img/main_slider01.jpg) no-repeat center top/cover;
}

.main_visual .slogan {
    position: absolute;
    top: 100px;
    right: 600px;
    /* right와 left를 동시에 잡으면 박스를 늘린다
    top: 100px;
    right: 600px; 을
    inset: 100px 600px auto auto; 로 바꿀 수 있다
    inset의 순서는 상우하좌. 익스플로러에서는 지원을 안함*/
}

.main_slider {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1200px;
}

/* 가로 사이즈를 1200px으로 줘서 메뉴와 사이즈 맞게 중앙에 오게 됨! */

.main_slider h3 {
    font-size: 60px;
    font-weight: 900;
    /* margin: 0 0 30px 0; */
    background: linear-gradient(to right top, #0a96ba, #032777, #333333);
    color: transparent;
    -webkit-background-clip: text;
    line-height: normal;
}

.main_slider strong {
    display: block;
    margin: 0 0 20px 0;
    color: #fd7e14;
}

.main_slider .slick-dots {
    padding: 30px 0 0 0;
}

/* dot ui박스의 내부공간 우측에 30px의 공간을 줘서 도트 사이의 공간을 주기*/

.main_slider .slick-dots li {
    display: inline-block;
    margin: 0 10px 0 0;
    width: 80px;
    height: 4px;
    background: #333;
}

/* 슬라이더에 ul이 붙었으므로 자연히 li 리스트가 붙었을 것이다 */

.main_slider .slick-dots li.slick-active {
    background: #fd7e14;
}

.main_slider .slick-dots button {
    display: none;
}

.main_banner {
    transform: translateY(-50%);
}

/* 슬라이더가 움직일 때마다 slick-active가 움직였으므로 여기에 색을 입히면 슬라이더가 움직일때마다 노란색이 될 것 */

.main_banner .container {
    height: 220px;
    align-items: flex-end;
}

.main_banner figure {
    display: flex;
    /* .main_banner figure a {에
        display: block;
        말고도 display: flex;로 박스 속성을 줄 수 있음*/
    flex: 1;
    text-align: center;
    /* 지금 줄만한게 없다??? */
    color: #fff;
    justify-content: center;
    align-items: center;
    height: 200px;
    transition: 0.5s;
    /* 볼륨을 줌. 칸들의 높이가 더 늘어나있음
    전화번호란까지 늘어나있는건 figure로 늘린것 때문 */
}

/* figure : 1.666666% */

.main_banner figure:hover {
    height: 220px;
}

.main_banner figure:nth-child(1) {
    background: #e7948f;
}

.main_banner figure:nth-child(2) {
    background: #f3ca4f;
}

.main_banner figure:nth-child(3) {
    background: #337688;
}

.main_banner figure:nth-child(4) {
    background: #6fa376;
}

.main_banner figure a {
    /* display: block;
    a는 원래 block이 아니기 때문에 높이 길이가 안먹는다 */
    display: flex;
    align-items: flex-end;
    /* 자식이 아니라 .main_banner figure strong {쪽에 안먹이고 여기 먹임
        strong에 먹일때는 margin: top auto
        깔끔이청소 소개-청소갤러리까지의 이름이 내려간다 
        flex로 박스를 만들었기 때문에 쪼그라든 상태가 되어서 센터로 옮겨준다 */
    justify-content: center;
    width: 100px;
    height: 120px;
    font-size: 13px;
}

.main_banner figure:nth-child(1) a {
    background: url(../img/icon_set_w.png) no-repeat 0 0;
    transition: 0.5s;
}

.main_banner figure:nth-child(1):hover a {
    background: url(../img/icon_set_w.png) no-repeat -200px 0;
}

.main_banner figure:nth-child(2) a {
    background: url(../img/icon_set_w.png) no-repeat -100px 0;
}

.main_banner figure:nth-child(3) a {
    background: url(../img/icon_set_w.png) no-repeat -200px 0;
}

.main_banner figure:nth-child(4) a {
    background: url(../img/icon_set_w.png) no-repeat -300px 0;
}

.main_banner .costomer {
    position: relative;
    /* 자리는 display 쓴 뒤에 position 쓰기 */
    flex: 2;
    text-align: right;
    /* 인라인 속성 가진 애들 오른쪽으로 치우치게 */
    background: #ddd;
    padding: 50px 30px 65px 0;
    /* border: 20px solid transparent; 
    border가 투명하게 들어감 */
}

.main_banner .costomer a {
    display: block;
    margin: 0 0 15px 0;
    font-size: 38px;
    color: #369;
    font-weight: 700;
}

.main_banner .costomer i {
    position: absolute;
    /* 겹쳐져있고 띄워져있기 때문에 기준점을 먼저 잡아서 띄워줌 */
    top: -29px;
    /* 38/2 에 패딩을 10 먹여서 29 */
    right: 30px;
    /* .main_banner .costomer { 의 paddig */
    /* 패딩을 무시하고 위에 띄워져있지만 border가 있을때는 볼더를 유지한다 */
    color: #fff;
    background: #e7948f;
    font-size: 38px;
    padding: 10px;
    border-radius: 50%;
    /* 상하좌우 개념을 가진 축약형
    border-radius: 50% 0 50% 0;을 주면 나뭇잎같은 모양이 됨.
    픽셀로도 가능하며 픽셀로 둥근 모서리를 만들 때엔 모서리의 사이즈가 픽셀로 됨 */
}

.main_link {
    padding: 0 0 100px 0;
    background: linear-gradient(to top, #f7f7f7 70%, transparent 30%);
    /* 앞쪽 숫자가 크면 반으로 딱 나뉘어지지 않음 그라데이션이 먹힘
    퍼센트는 100퍼를 넘어가지 않게 색 퍼센트를 나눠줘서 to top으로 위치를 반대로 바꿔줌 */
}

.main_link h2 {
    text-align: center;
    margin: 0 0 50px 0;
}

.main_link h2::before {
    content: "";
    display: inline-block;
    width: 80px;
    height: 1px;
    background: #f00;
    vertical-align: middle;
    margin: 0 10px;
}

.main_link h2::after {
    content: "";
    display: inline-block;
    width: 80px;
    height: 1px;
    background: #f00;
    vertical-align: middle;
    margin: 0 10px;
}

/* 디스플레이 인라인은 텍스트 속성을 가지고 있음 */

.main_link .container {
    gap: 30px;
    /* 박스 사이 30px 떨어트림 */
}

/* .main_link li::before {
    content: "\e91c";
    font-family: xeicon!important;
    content: "<i class='xi-bars'></i>"; 로 하면
    아이콘 자체가 before, after가 다 있어서 안먹힘
    따라서 index.html에서 <i class="xi=bars"></i>로 아이콘을 만들어놓고
    해당 아이콘 우클릭 검사>elemets>styles 제일 아래쪽에
    >Pseudo:before element에content: "\e91c"; 의 \e91c코드를 긁어온다
    여기까지만 하면 전체 폰트를 noto sans로 줬기 때문에 화면상에 네모 모양으로 뜬다
    이걸 제대로 나타내게 하려면 elemets>styles의 제일 위에서 font-family: xeicon!important;를 긁어온다
    before와 after는 가상요소 선택자
} */

.main_link figure {
    position: relative;
    flex: 1;
    border-radius: 50px 0 0 0;
    /* 이미지가 아니라 박스에 곡률을 줌
    따라서 구부러진 박스의 바깥을 없애란 명령을 줘야함 */
    overflow: hidden;
}

.main_link img {
    width: 100%;
    /* 원래 분류는 인라인으로 되어있는데 inline-block처럼 먹어서 와이드로 먹는다 */
    margin: 0 0 30px 0;
}

.main_link h3 {
    font-size: 23px;
    margin: 0 0 30px 0;
}

/* 가상의 공간 만들기 */

.main_link h3::after {
    /* after나 before같은 속성을 줘야함 */
    content: "";
    display: block;
    width: 80px;
    height: 1px;
    background: #f00;
    /* 사이즈와 이미지를 주면 백그라운드에 이미지가 깔릴 것 */
    margin: 15px 0;
}

.main_link figure a {
    position: absolute;
    top: 50%;
    /* margin-top: 100px; 도 먹음 */
    right: 30px;
    width: 60px;
    height: 60px;
    background: rgba(243, 202, 79, 0.5);
    text-align: center;
    line-height: 60px;
    color: #fff;
    border-radius: 50%;
    text-transform: uppercase;
    /* 대문자로 바꾸기 */
    /* opacity: 0.5;
    모든 자식들을 투명하게 만들기 때문에 
    백그라운드에 rgb에 알파값까지 주겠다는 의미의 a를 덧붙여 백그라운드에만 투명도를 준다*/
}

.main_link figure a:hover {
    background: rgba(243, 202, 79, 1);
    border-radius: 5px;
}

/* 디자인적 요소로 시각장애인들에겐 안읽힘 */

.footer {
    border-top: 1px solid #ddd;
    padding: 50px 0;
    text-align: center;
}

/* 강약강약을 주면서 디자인 */

.footer ul {
    margin: 10px 0;
}

.footer ul>li {
    display: inline-block;
}

.footer ul>li~li::before {
    /* li~li는 li의 밑에 있는 형제들에게 주기 때문에 자기 자신은 빠짐 */
    content: "";
    display: inline-block;
    width: 1px;
    height: 13px;
    background: #333;
    margin: 0 15px;
    vertical-align: middle;
}

/* .footer ul>li:first-child::before {
    display: none;
}
옛날 방법으로 제일 앞의 바 없애기 */

.footer address {
    font-style: normal;
}




/* 


장영빈 만듬. 2022.05.04
responsive 768


*/



@media (max-width:768px) {
    .container {
        display: flex;
        flex-direction: column;
        width: auto;
        margin: 0 auto;
    }

    .header .top_banner {
        display: none;
        border-bottom: 1px solid #f2f2f2;
        line-height: 40px;
    }

    .header .top_banner span {
        margin: 0 0 0 auto;
    }

    .header .top_banner a {
        margin: 0 0 0 10px;
        padding: 0 10px;
        border-left: 1px solid #ddd;
        border-right: 1px solid #ddd;
    }

    /* .header .top_banner {
        display: none;
        으로 나타나지 않지만 나중에 볼드 수정 해달란 요청이 들어올수도 있으니 놔두는게 좋다 */

    .header h1 {
        padding: 0 15px;
    }

    .header .gnb {
        position: fixed;
        top: 0;
        left: -100%;
        background: #fff;
        width: calc(100% - 90px);
        height: 100vh;
        margin: 0 0 0 auto;
        border-right: 1px solid #333;
        z-index: 999;
        /* 999로 제일 위로 붙여주는게 보통이다 */
        transition: 0.5s;
        /* transition: left로 무언갈...조정...가능 */
    }

    .header .gnb.on {
        left: 0;
    }

    .header .gnb>ul {
        display: flex;
        flex-direction: column;
        gap: 0;
        padding: 50px 15px;
        line-height: 40px;
        font-size: 19px;
        font-weight: 500;
    }

    .header .gnb>ul a {
        display: block;
        border-bottom: 1px solid #ddd;
    }

    /* 메인비주얼 */
    .main_visual {
        position: relative;
        height: calc(100vh - 90px);
        /* 스크롤의 높이 100퍼센트에 맞춰 배너 이미지를 로고만큼의 높이 90px을 뺀 길이로 만들어라 */
        background: url(../img/main_slider01.jpg) no-repeat right top/cover;
        /* 이미지를 사람을 중점적으로 보이기 위해 사람이 있는 오른쪽으로 붙였다 */
    }

    .main_visual .slogan {
        display: none;
        position: absolute;
        top: 100px;
        right: 600px;
    }

    .main_slider {
        position: absolute;
        top: auto;
        bottom: 150px;
        left: 0;
        transform: translate(0, 0);
        width: 100%;
        /* position: absolute;로 쪼그라들었으므로 width: auto로는 펴지지 않는다 */
        padding: 0 30px;
        text-align: center;
    }

    .main_slider .itm {
        height: 300px;
    }

    .main_slider h3 {
        font-size: 11vw;
        font-weight: 900;
        background: linear-gradient(to right top, #0a96ba, #032777, #333333);
        color: transparent;
        -webkit-background-clip: text;
        line-height: normal;
    }

    .main_slider strong {
        display: block;
        margin: 0 0 20px 0;
        color: #fd7e14;
    }

    .main_slider .slick-dots {
        text-align: center;
        padding: 30px 0 0 0;
    }

    .main_slider .slick-dots li {
        display: inline-block;
        margin: 0 5px 0 0;
        width: 10px;
        height: 10px;
        background: #333;
    }

    .main_slider .slick-dots li.slick-active {
        background: #fd7e14;
    }

    .main_slider .slick-dots button {
        display: none;
    }

    .main_banner {
        transform: translateY(0);
    }

    .main_banner .container {
        height: auto;
        align-items: stretch;
        /* 펴준다 */
        flex-direction: row;
        flex-wrap: wrap;
    }

    .main_banner figure {
        display: flex;
        flex: 1 1 50%;
        /* 기본적인 와이드값을 50퍼센트 가져라 */
        text-align: center;
        /* 지금 줄만한게 없다??? */
        color: #fff;
        justify-content: center;
        align-items: center;
        height: 200px;
        transition: 0.5s;
    }

    .main_banner figure:hover {
        height: 200px;
    }

    .main_banner figure:nth-child(1) {
        background: #e7948f;
    }

    .main_banner figure:nth-child(2) {
        background: #f3ca4f;
    }

    .main_banner figure:nth-child(3) {
        background: #337688;
    }

    .main_banner figure:nth-child(4) {
        background: #6fa376;
    }

    .main_banner figure a {
        display: flex;
        align-items: flex-end;
        justify-content: center;
        width: 100px;
        height: 120px;
        font-size: 13px;
    }

    .main_banner figure:nth-child(1) a {
        background: url(../img/icon_set_w.png) no-repeat 0 0;
        transition: 0.5s;
    }

    .main_banner figure:nth-child(1):hover a {
        background: url(../img/icon_set_w.png) no-repeat -200px 0;
    }

    .main_banner figure:nth-child(2) a {
        background: url(../img/icon_set_w.png) no-repeat -100px 0;
    }

    .main_banner figure:nth-child(3) a {
        background: url(../img/icon_set_w.png) no-repeat -200px 0;
    }

    .main_banner figure:nth-child(4) a {
        background: url(../img/icon_set_w.png) no-repeat -300px 0;
    }

    .main_banner .costomer {
        position: relative;
        flex: 2;
        text-align: right;
        background: #ddd;
        padding: 50px 30px 65px 0;
    }

    .main_banner .costomer a {
        display: block;
        margin: 0 0 15px 0;
        font-size: 38px;
        color: #369;
        font-weight: 700;
    }

    .main_banner .costomer i {
        position: absolute;
        top: -29px;
        right: 30px;
        /* .main_banner .costomer { 의 paddig */
        color: #fff;
        background: #e7948f;
        font-size: 38px;
        padding: 10px;
        border-radius: 50%;
    }

    .main_link {
        padding: 0 0 100px 0;
        background: linear-gradient(to top, #f7f7f7 70%, transparent 30%);
    }

    .main_link h2 {
        text-align: center;
        margin: 0 0 50px 0;
    }

    .main_link h2::before {
        content: "";
        display: inline-block;
        width: 80px;
        height: 1px;
        background: #f00;
        vertical-align: middle;
        margin: 0 10px;
    }

    .main_link h2::after {
        content: "";
        display: inline-block;
        width: 80px;
        height: 1px;
        background: #f00;
        vertical-align: middle;
        margin: 0 10px;
    }

    .main_link .container {
        padding: 50px 15px;
        gap: 30px;
    }

    .main_link figure {
        position: relative;
        flex: 1;
        border-radius: 50px 0 0 0;
        overflow: hidden;
    }

    .main_link img {
        width: 100%;
        margin: 0 0 30px 0;
    }

    .main_link h3 {
        font-size: 23px;
        margin: 0 0 30px 0;
    }

    .main_link h3::after {
        content: "";
        display: block;
        width: 80px;
        height: 1px;
        background: #f00;
        margin: 15px 0;
    }

    .main_link figure a {
        position: absolute;
        top: 50%;
        right: 30px;
        width: 60px;
        height: 60px;
        background: rgba(243, 202, 79, 0.5);
        text-align: center;
        line-height: 60px;
        color: #fff;
        border-radius: 50%;
        text-transform: uppercase;
    }

    .main_link figure a:hover {
        background: rgba(243, 202, 79, 1);
        border-radius: 5px;
    }

    .footer {
        border-top: 1px solid #ddd;
        padding: 50px 0;
        text-align: center;
    }


    .footer ul {
        margin: 10px 0;
    }

    .footer ul>li {
        display: inline-block;
        padding: 5px 7px;
    }

    .footer ul>li~li::before {
        content: "";
        display: none;
        width: 1px;
        height: 13px;
        background: #333;
        margin: 0 15px;
        vertical-align: middle;
    }

    .footer address {
        font-style: normal;
    }

    .mopen {
        position: fixed;
        top: 30px;
        right: 30px;
        width: 30px;
        height: 30px;
        background: #ddd;
    }

    .mopen span {
        position: absolute;
        left: 5px;
        right: 5px;
        height: 3px;
        background: #333;
        transition: 0.5s;
    }

    .mopen span:nth-child(1) {
        top: 5px;
    }

    .mopen span:nth-child(2) {
        top: 13px;
    }

    .mopen span:nth-child(3) {
        top: 13px;
    }

    .mopen span:nth-child(4) {
        top: 21px;
    }

    .mopen.oo span:nth-child(1) {
        display: none;
    }

    .mopen.oo span:nth-child(2) {
        transform: rotate(45deg);
    }

    .mopen.oo span:nth-child(3) {
        transform: rotate(-45deg);
    }

    .mopen.oo span:nth-child(4) {
        display: none;
    }


}



/* <div class="a">
    <div class="b">
        <div class="c">
        </div>
    </div>
</div>
b를 찾을 때는 .a .c 혹은  a>b(자식만 가능)로 자식 관계를 찾을 수 있다
<div class="a b"> 붙여서 쓸 때는 같이 있을 때 -> 검색
*는 모든(all) 선택 */