@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css');
@import url("https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css");

body {
   font-family: 'Nanum Gothic', sans-serif;
}

nav {
    position: fixed;
    z-index: 2;
    padding: 30px 0 0 0;
    left: 50%;
}

.burgerTabBtn {
   float: left;
}

.burgerTabBtn>span {
   width: 80px;
}

.burgerTabBtn>span:nth-child(1) {
   height: 50px;
   background-color: transparent;
   border: 5px solid blanchedalmond;
}

.burgerTabBtn>span:nth-child(2) {
   top: 65px;
   height: 5px;
   background-color: blanchedalmond;
}

.burgerTabBtn>span:nth-child(3) {
   top: 85px;
   height: 5px;
   background-color: blanchedalmond;
}

.main_visual figure {
    position: relative;
    height: 1000px;
}

.main_slider .slick-prev {
   position: absolute;
   z-index: 2;
   width: 44px;
   height: 44px;
   top: 650px;
   left: 15%;
   border: none;
   border-radius: 22px;
   background-color: #fff2ca;
}

.main_slider .slick-next {
   position: absolute;
   z-index: 2;
   width: 44px;
   height: 44px;
   border: none;
   border-radius: 22px;
   background-color: #fff2ca;
}

.main_visual .banner01 {
    background: url(../img/banner/1616122384-JFZQU.jpg) no-repeat center center/cover;
}

.main_visual .banner02 {
    background: url(../img/banner/1616409946-ASUDD.jpg) no-repeat center center/cover;
}

.main_visual .banner03 {
    background: url(../img/banner/1633480196-GHRUW.png) no-repeat center center/cover;
}

.main_visual .banner04 {
    background: url(../img/banner/1651647874-FRQMX.png) no-repeat center center/cover;
}

.main_visual .banner05 {
    background: url(../img/banner/1651647893-YJKLD.png) no-repeat center center/cover;
}

.main_visual .container {
    display: block;
    position: absolute;
    top: 45%;
    left: 30%;
    transform: translate(-50%, -50%);
    color: blanchedalmond;
}

.main_visual .container p {
    font-size: 30px;
}

.main_visual h2 {
    font-size: 90px;
    font-weight: 800;
    color: beige;
    padding: 20px 0;
}

.main_visual h3 {
    font-size: 42px;
    font-weight: 700;
    margin: 80px 0 0 0;
}

.menu_slider figure {
    width: 326px;
    height: 580px;
    background-color: #e8d2a0;
    text-align: center;
}

.menu_slider .menuYellow {
    background-color: #ffaa01;
}

.menu_slider .menuTaupe {
   background-color: #d3bd94;
}

.menu_slider img {
    width: 270px;
    margin: 150px auto 0 auto;
}

.menu_slider h2 {
    font-size: 32px;
}

.menu_slider p {
    font-size: 24px;
    color: #f9f5e0;
}

.promo_slider {
   height: 600px;
   background-color: #f5e5ca;
   text-align: center;
}

.promo img {
   float: left;
   margin: 0 30px 0 0;
}

.promp div {
   width: 400px;
}

.promo p {
   margin: 0 0 20px 0;
   padding: 100px 0 0 0;
   font-size: 26px;
   font-weight: bold;
   color: #ac9385;
}

.promo h3 {
   margin: 0 0 40px 0;
   font-size: 50px;
   color: #5d4237;
}

.promo button {
   padding: 20px 65px;
   font-size: 32px;
   font-weight: bold;
   color: #5d4237;
   background-color: transparent;
   border: 4px solid;
   border-radius: 35px;
}
