.container {
    display: flex;
    width: 1200px;
    margin: 0 auto;
}

/* container 순서는 위 */

.header .top_banner {
    border-bottom: 1px solid #f2f2f2;
    /* 직선은 solid, 실선? dotted, 점선 dashed */
    line-height: 40px;
}

.header .top_banner span {
    margin: 0 0 0 auto;
}

.header .top_banner a {
    margin: 0 0 0 10px;
    padding: 0 10px;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    /* 헤더 안에 탑 배너가 있을 땐 한칸 띄워줘야 함
    margin으로 옆 공간을 띄운 이유는
    display: flex로 세로 정렬이었던 박스 공간을 가로 정렬로 바꾸어서
    이미 우측이 땡겨지고 있었기 때문에 text-align :right로 우측으로 땡기는게 안됨
    border로 양옆 아이콘에 박스 선을 줬음 */
}

.header .gnb {
    margin: 0 0 0 auto;
}

.header .gnb>ul {
    /* 다단 메뉴는 ul이 후손에 또 하나 더 있을 수 있기 때문에 자식인 ul을 찾기 위해 >을 쓴다 */
    display: flex;
    /* 익스플로러 10까진 먹음 */
    gap: 30px;
    /* gap은 익스플로러에서 안먹음. 마진이나 패딩으로 준다 검색하면 세개가...벌어지는...방...법...? */
    line-height: 90px;
    font-size: 19px;
    font-weight: 500;
}

/* <div class="a">
    <div class="b">
        <div class="c">
        </div>
    </div>
</div>
b를 찾을 때는 .a .c 혹은  a>b(자식만 가능)로 자식 관계를 찾을 수 있다
<div class="a b"> 붙여서 쓸 때는 같이 있을 때 -> 검색
*는 모든(all) 선택 */