.container {
    display: flex;
    width: 1200px;
    margin: 0 auto;
}

/* container 순서는 위 */

.main_link h2 {
    text-align: center;
    margin: 0 0 50px 0;
}

.main_link h2::before {
    content: "";
    display: inline-block;
    width: 80px;
    height: 1px;
    background: #f00;
    vertical-align: middle;
    margin: 0 10px;
}

.main_link h2::after {
    content: "";
    display: inline-block;
    width: 80px;
    height: 1px;
    background: #f00;
    vertical-align: middle;
    margin: 0 10px;
}


.main_link li::before {
    content: "\e91c";
    font-family: xeicon !important;
    /* content: "<i class='xi-bars'></i>"; 로 하면
    아이콘 자체가 before, after가 다 있어서 안먹힘
    따라서 index.html에서 <i class="xi=bars"></i>로 아이콘을 만들어놓고
    해당 아이콘 우클릭 검사>elemets>styles 제일 아래쪽에
    >Pseudo:before element에content: "\e91c"; 의 \e91c코드를 긁어온다
    여기까지만 하면 전체 폰트를 noto sans로 줬기 때문에 화면상에 네모 모양으로 뜬다
    이걸 제대로 나타내게 하려면 elemets>styles의 제일 위에서 font-family: xeicon!important;를 긁어온다
    before와 after는 가상요소 선택자 */
}