@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import url('https://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css');

/* import는 외부에서 가져오는 것 */
* {
    margin: 0;
    padding: 0;
    font-size: inherit;
    /* 폰트 사이즈를 상속받으라는 뜻. 거의 모든 브라우저가 가진 폰트 크기는 16px */
    font-weight: inherit;
    /* 폰트 두께 */
    box-sizing: border-box;
}

ul,
ol {
    list-style: none;
}

img {
    vertical-align: middle;
}

/* 이미나 텍스트를 배치할 때 베이스라인을 둠 vertical은 inline 속성을 가진 곳에만 먹힘 */

body {
    font-family: 'Noto Sans KR', sans-serif;
    line-height: 1;
    /* 레이아웃을 만들 때는 1로 만든 후에 한다 */
}